%% HACK
{erl_opts, [{i, ["_build/default/lib"]}]}.

{plugins, [{'lfe-compile', "0.7.0", {pkg, rebar3_lfe_compile}}]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{deps, [{lfe, "1.2.0"}]}. % {edown, "0.8.1"}, FIXME: {lfe, "1.2.2"},

{profiles,
 [{dev, [{deps, [eper]}]},
  {docs,
   [{edoc_opts,
     [{application, ldoc},
      {doclet, 'ldoc-doclet'},
      %% {dir, "doc"},
      {dir, "docs"},
      {file_suffix, ".html"},
      %% {new, true},
      %% {source_path, ["src"]},
      {source_suffix, ".lfe"} %,
      %% {subpackages, true},
      %% {overview, "doc/overview.md"},
      %% {top_level_readme,
      %%  {"./README.md", "https://github.com/yurrriq/ldoc"}}
     ]}]}]}.
